<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2m.atl.emftvm.launcher.EMFTVMTransformation">
<stringAttribute key="ATL File Name" value="//org.osate.aadl2altarica/transformation/AADL2AltaRica.atl"/>
<booleanAttribute key="Disable JIT compiler" value="false"/>
<booleanAttribute key="Display Profiling Data" value="false"/>
<booleanAttribute key="Display Timing Data" value="false"/>
<mapAttribute key="Inout Model Options"/>
<mapAttribute key="Inout Models"/>
<mapAttribute key="Inout Models Output Locations"/>
<mapAttribute key="Input Model Options"/>
<mapAttribute key="Input Models">
<mapEntry key="IN" value="platform:/resource/LargeExamplesforEMV2TR/instances/FG_System_pkg_FGS_threestate_Instance.aaxl2"/>
</mapAttribute>
<mapAttribute key="Metamodel Options"/>
<mapAttribute key="Metamodels">
<mapEntry key="AADL" value="http://aadl.info/AADL/2.0/instance"/>
<mapEntry key="AADL2" value="http://aadl.info/AADL/2.0"/>
<mapEntry key="AR" value="http://osate.org/Altarica"/>
<mapEntry key="EMV2" value="http://www.aadl.info/EMV2"/>
</mapAttribute>
<stringAttribute key="Module Name" value="AADL2AltaRica"/>
<stringAttribute key="Module Path" value="/org.osate.aadl2altarica/transformation/"/>
<mapAttribute key="Output Model Options">
<mapEntry key="OUT" value="allowIntermodelReferences"/>
<mapEntry key="trace" value="allowIntermodelReferences"/>
</mapAttribute>
<mapAttribute key="Output Models">
<mapEntry key="OUT" value="platform:/resource/org.osate.aadl2altarica/ar/out.altarica"/>
<mapEntry key="trace" value="platform:/resource/org.osate.aadl2altarica/ar/trace"/>
</mapAttribute>
<listAttribute key="Superimpose"/>
</launchConfiguration>
